*
!picom
!polybar
!polybar/*
!polybar/*/*
polybar/show_temps
!rofi
!rofi/config.rasi
!rofi/power-profiles.rasi
!rofi/rofikeyhint.rasi
!rofi/*/*
!i3
!i3/scripts
!i3/config
!i3/i3blocks.conf
!i3/keybindings
!dusnt/
!.gitignore
!LICENSE
