/*******************************************************
 * ROFI configs i3 keyhint-menu for EndeavourOS
 * Maintainer: joekamprad [joekamprad //a_t// endeavouros.com]
 *******************************************************/

@theme "catppuccin-mocha"

